* {
    margin: 0;
    padding: 0;
}
.container {
    width: 75%;
    margin: 0 auto;
}
body {
    background-color: #EBF0FF;

}
#header {
    padding: 50px 0;
    opacity: 0.7;
background: radial-gradient(50% 50% at 50% 50%, #B9CEEA 0%, rgba(246, 251, 248, 0.00) 100%);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav a {
    text-decoration: none;
    color: #515151;
    font-size: 16px;
    font-weight: 400;
margin-right: 32px; 
}
.header-nav button {
        color: #101010;
        font-size: 16px;
        font-weight: 700;
        border-radius: 40px;
border: 1px solid #FFD24B;
background: #F0B80D;
padding: 16px 32px;
    }
.hero-people {
    display: flex;
    align-items: center;
    border-radius: 10px;
background: #F6FBF8;
box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.08);
backdrop-filter: blur(2px);
width: 577px;
padding: 24px;
gap: 24px;
margin-top: 20px;
}
.people-text h3 {
    color: #000;
font-size: 16px;
font-weight: 500;
}
.people-text p {
    padding-top: 10px;
    color: #515151;
font-size: 16px;
font-weight: 500;
}
.peoples {
    margin-top: 60px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
background: #F6FBF8;
box-shadow: 0px 34px 44px -20px rgba(185, 206, 234, 0.25);
padding: 24px;
    gap: 10px;
}
.first-card {
    display: flex;
    align-items: center;
}
.first-card-text {
    margin-left: 15px;
}
.first-card-text h3 {
    color: #000;
font-size: 16px;
font-weight: 500;
}
.first-card-text p {
    margin-top: 4px;
    color: #515151;
font-size: 16px;
font-weight: 500;
}